/*===================== TABLE OF CONTENT =======================
1. Reset CSS
2. Fonts
3. General Styling
=============================================================*/
@mixin trn($s) {
    -webkit-transition: all linear $s;
    -moz-transition: all linear $s;
    -ms-transition: all linear $s;
    -o-transition: all linear $s;
    transition: all linear $s;
}
@mixin trn_o($s) {
    -webkit-transition: opacity $s ease;
    -moz-transition: opacity $s ease;
    -ms-transition: opacity $s ease;
    -o-transition: opacity $s ease;
    transition: opacity $s ease;
}
@mixin an($s) {
    -webkit-animation-delay: $s;
    -moz-animation-delay: $s;
    -ms-animation-delay: $s;
    -o-animation-delay: $s;
    animation-delay: $s;
}
@mixin bx($s) {
    -webkit-box-sizing: $s;
    -moz-box-sizing: $s;
    -ms-box-sizing: $s;
    -o-box-sizing: $s;
    box-sizing: $s;
}
@mixin gra1 {
    
}
@mixin gra2 {
    
}
@mixin gra3 {
    
}
@mixin gra4 {
    
}

/* ==== All tag Start ==== */
* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    @include bx(border-box);
}

html[hide-scrollbar="true"]::-webkit-scrollbar {
    display:none;
}
body {
    margin: 0;
    padding: 0;
    outline: 0;
    @include bx(border-box);
    font-family: 'Montserrat', sans-serif;
    overflow-x: hidden;
    background: #000000;
}

body,
html {
    height: 100%;
}

.wow {
    visibility: hidden;
}

body::-webkit-scrollbar-track,
textarea::-webkit-scrollbar-track {
    background-color: #e7e7e7;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    -ms-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    -o-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}
body::-webkit-scrollbar,
textarea::-webkit-scrollbar {
    width: 10px;
}
body::-webkit-scrollbar-thumb,
textarea::-webkit-scrollbar-thumb {
    background-color: #000000;
    -webkit-box-shadow: inset 0 0 6px rgba(255, 255, 255, .3);
    -moz-box-shadow: inset 0 0 6px rgba(255, 255, 255, .3);
    -ms-box-shadow: inset 0 0 6px rgba(255, 255, 255, .3);
    -o-box-shadow: inset 0 0 6px rgba(255, 255, 255, .3);
    box-shadow: inset 0 0 6px rgba(255, 255, 255, .3);
}
textarea::-webkit-input-placeholder,
input::-webkit-input-placeholder {
    @include trn(.3s);
}
textarea:-ms-input-placeholder,
input:-ms-input-placeholder {
    @include trn(.3s);
}
textarea::-ms-input-placeholder,
input::-ms-input-placeholder {
    @include trn(.3s);
}
textarea::placeholder,
input::placeholder {
    @include trn(.3s);
}

ul,
ol {
    list-style-type: none;
    margin: 0;
}

a,
a:hover,
a:active,
a:visited,
a:focus {
    font-family: 'Montserrat', sans-serif;
    text-decoration: none;
    outline: 0 !important;
}
img {
    border: 0;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    margin: 0px;
}
p {
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    font-weight: 400;
    margin: 0px;
}

.clr {
    clear: both;
}
.corp {
    overflow: hidden;
}
.corp-y {
    overflow-y: hidden;
}
.corp-x {
    overflow-x: hidden;
}
.d-ib {
    display: inline-block;
}
.bdrs-5 {
    border-radius: 5px;
}
.bdrs-0 {
    border-radius: 0;
}
.no-border {
    border: none !important;
}
.no-flex {
    -webkit-box-flex: 0;
    -ms-flex: none;
    flex: none;
}
.row-flex-none {
    display: block;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
}

.section-gap {
    padding: 95px 0px;
}
.section-gap-top {
    padding-top: 95px;
}
.section-gap-top-big {
    padding-top: 170px;
}
.section-gap-bottom {
    padding-bottom: 95px;
}
.section-gap-m {
    margin: 95px 0px;
}
.section-gap-top-m {
    margin-top: 95px;
}
.section-gap-bottom-m {
    margin-bottom: 95px;
}
.wrapper-gap {
    padding: 40px 20px;
}

.display-table {
    display: table;
    width: 100%;
    height: 100%;
    .display-content {
        vertical-align: middle;
        display: table-cell;
    }
}
/* ==== All tag End ==== */

/* ==== All-header ==== */
.all-header {
    text-align: center;
    padding: 0px 0px 50px 0px;
    color: #cccccc;
    h1,h2,h3 {
        font-size: 46px;
        //font-family: NB;
        color: #ffffff;
        display: inline-block;
        text-transform: uppercase;
        a {
            color: inherit;
        }
    }
    p {
        font-size: 18px;
        font-weight: 400;
        padding-top: 15px;
    }
}
.just-grd {
    background: -webkit-linear-gradient(top, #ffffff 0%, #ffffff 15%, #b8b8b8 50%, #ffffff 85%, #ffffff 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
/* ==== All-header ==== */

/* ==== All-button ==== */
.btn {
    position: relative;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    font-weight: 400;
    border: 1px outset #f15a22;
    background: rgba(241, 90, 34, 0.3);
    color: #ffffff;
    padding: 12px 5px;
    border-radius: 0px;
    max-width: 185px;
    width: 100%;
    display: inline-block;
    text-align: center;
    overflow: hidden;
    text-transform: uppercase;
    @include trn(.3s);
    &:hover {
        background: transparent;
        color: #ffffff;
    }
    &:focus {
        background: transparent;
        color: #ffffff;
        text-decoration: none;
        outline: none !important;
    }
    .active,
    &:active {
        background: transparent;
        color: #ffffff;
    }
}
/* ==== All-button ==== */

/* ==== Navbar-part ==== */
#navbar-main {
    background-color: rgba(255, 255, 255, .75);
    border-bottom: 1px solid #e2660a;
    padding: 15px 0px;
    @include trn(.5s);
}
.banner-manu-black {
    background-color: rgba(255, 255, 255, 1) !important;
    padding: 10px 0px !important;
    border-bottom: 2px solid #e2660a !important;
}
.navbar-brand {
    padding: 0;
    margin: 0;
}
.navbar-expand-lg {
    padding: 0;
    .logo-main-top {
        img {
            max-height: 45px;
        }
    }
    .navbar-nav {
        display: block;
        .nav-item {
            display: inline-block;
            vertical-align: middle;
            padding: 0px 10px;
            &:hover {
                .nav-link {
                    color: #e2660a;
                }
            }
            .nav-link {
                color: #0f0e0e;
                text-transform: uppercase;
                text-decoration: none;
                font-size: 16px;
                font-weight: 700;
                padding: 10px;
                position: relative;
                @include trn(.3s);
                i {
                    font-size: 25px;
                    color: #0f0e0e;
                }
            }
            .dropdown-toggle {
                @include trn(.3s);
                &:after {
                    display: inline-block;
                    margin-left: .255em;
                    vertical-align: .255em;
                    content: "";
                    border-top: .3em solid;
                    border-right: .3em solid transparent;
                    border-bottom: 0;
                    border-left: .3em solid transparent;
                }
            }
            .dropdown-menu {
                display: none;
                top: 80%;
                font-size: 15px;
                color: #0f0e0e;
                background-color: rgba(0, 0, 0, 0.7);
                border-bottom: 1px outset #e2660a;
                border-radius: 0px;
                @include trn(.3s);
                &.show {
                    display: block;
                }
                .dropdown-item {
                    padding: 0px;
                    .nav-link-drop {
                        padding: 8px 15px 8px 20px;
                        font-size: 16px;
                        font-weight: 700;
                        color: #e2660a;
                        display: block;
                        text-transform: uppercase;
                        @include trn(.3s);
                        &:hover, &:focus {
                            color: #000000;
                            text-decoration: none;
                            background-color: rgba(226,102,10,0.8);
                        }
                        &.active {
                            color: #000000;
                            text-decoration: none;
                            background-color: rgba(226,102,10,0.8);
                        }
                    }
                }
            }
        }
        .active {
            .nav-link {
                color: #e2660a;
            }
            .btn-no-bg {
                color: #ffffff;
                background: #e2660a;
                &:hover {
                    color: #ffffff;
                }
            }
        }
    }
}

.navbar-toggler {
    padding: 4px 8px;
    font-size: 1.25rem;
    line-height: 1;
    color: #ffffff;
    border: 1px outset #e2660a;
    background-color: rgba(0, 0, 0, .5);
    border-radius: 0;
    &:focus, &:hover {
        outline: 0
    }
    .navbar-toggler-ico {
        display: inline-block;
        width: 1.5em;
        height: 1.5em;
        vertical-align: middle;
        padding: 4px 0;
        background-size: 100% 100%;
        .icon-bar {
            display: block;
            width: 30px;
            height: 3px;
            border-radius: 0px;
            background-color: #fff;
            &+ .icon-bar {
                margin-top: 6px
            }
        }
    }
}

.blink-bg-menu {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    z-index: 300;
    &:hover {
        .nav-link {
            flex: auto;
            &:after {
                background: #ffffff !important;
            }
        }
    }
    &::before, &::after {
        position: absolute;
        content: '';
        display: block;
        width: 0px;
        height: 0px;
        background-color: #656565;
        -webkit-transform-origin: center center;
        -moz-transform-origin: center center;
        -ms-transform-origin: center center;
        -o-transform-origin: center center;
        transform-origin: center center;
        -webkit-animation: 2s 2s forwards infinite pulsating;
        -moz-animation: 2s 2s forwards infinite pulsating;
        -ms-animation: 2s 2s forwards infinite pulsating;
        -o-animation: 2s 2s forwards infinite pulsating;
        animation: 2s 2s forwards infinite pulsating;
        z-index: -1;
    }
    &::after {
        -webkit-animation-delay: 1.5s;
        -moz-animation-delay: 1.5s;
        -ms-animation-delay: 1.5s;
        -o-animation-delay: 1.5s;
        animation-delay: 1.5s;
    }
    .nav-link {
//        color: #e2a236 !important;
    }
}
@keyframes pulsating {
    0% {
        opacity: .45;
    }
    20% {
        opacity: .35;
    }
    40% {
        opacity: .25;
    }
    60% {
        opacity: .15;
    }
    100% {
        width: 100%;
        height: 100%;
        opacity: 0;
    }
}
.skiptranslate .goog-te-banner-frame{
    display: none !important;
}
.goog-te-gadget {
    font-size: 0px !important;
}
.goog-te-gadget .goog-te-combo {
    font-size: 16px;
    font-weight: 700;
    background: transparent;
    border-radius: 0px;
    border: 1px outset #e2660a;
    display: inline-block;
    vertical-align: middle;
    color: #0f0e0e;
    padding: 8px 10px;
}
.goog-te-gadget .goog-te-combo option {
    background-color: rgba(255, 255, 255, .65) !important;
}
.goog-logo-link {
    display: none;
}
/* ==== Navbar-part ==== */

/* ==== Main-menu-part ==== */
#Main-menu-part {
    padding: 85px 0px 45px !important;
    .vegas-overlay {
        opacity: 0.6;
        background: rgb(0,0,0);
    }
    .vegas-timer-progress {
        background: #e2660a69;
    }
    .menu-heading {
        text-align: center;
        padding-bottom: 35px;
        img {
            
        }
        h1 {
            font-size: 48px;
            color: #ffffff;
            text-transform: uppercase;
            padding: 25px 0px 0px;
        }
        h2 {
            font-size: 44px;
            color: #ffffff;
            padding-top: 10px;
            text-transform: uppercase;
            span {
                color: #e2660a;
            }
        }
    }
    .nav-pills {
        margin-bottom: 30px;
        align-items: center;
        justify-content: center;
        .tab-item {
            margin: 0px 0px 15px 20px;
            .tab-btn {
                color: #ffffff;
                max-width: 100%;
                font-size: 16px;
                padding: 8px 30px;
                border: 1px outset #ffffff;
                border-radius: 0px !important;
                background: rgba(0, 0, 0, 0.2);
                box-shadow: none;
                text-transform: capitalize;
                &:hover {
                    color: #e2660a;
                    background: rgba(0, 0, 0, 0.7);
                    border: 1px outset #e2660a;
                }
                &.active {
                    color: #e2660a;
                    background: rgba(0, 0, 0, 0.7);
                    border: 1px outset #e2660a;
                }
            }
        }
    }
    
    .tab-content {
        padding: 40px 20px 65px;
        background: rgba(0,0,0,0.6);
    }
    .main-menu-box-wrap {
        .food-box-dp {
            display: none;
        }
        .main-menu-box-wrap-heading {
            text-align: center;
            padding-bottom: 50px;
            h3 {
                color: #ffffff;
                font-size: 36px;
                font-weight: 700;
                text-transform: uppercase;
                display: inline-block;
                position: relative;
                &:after, &:before  {
                    position: absolute;
                    content: '';
                    bottom: -8px;
                    left: 15px;
                    height: 2px;
                    width: 35%;
                    background: #e2660a;
                }
                &:after {
                    left: 15px;
                    width: 35%;
                }
                &:before {
                    left: 2px;
                    width: 8px;
                }
            }
        }
        .main-menu-box-sub {
            display: flex;
            margin-bottom: 40px;
            .main-menu-box {
                color: #ffffff;
                overflow: hidden;
                .main-menu-box-heading {
                    border-bottom: 1px solid #e2660a;
                    padding-bottom: 3px;
                    margin-bottom: 10px;
                    overflow: hidden;
                    h4 {
                        font-size: 22px;
                        padding-top: 5px;
                        float: left;
                    }
                    span {
                        font-size: 24px;
                        color: #e2660a;
                        float: right;
                    }
                }
                p {
                    font-size: 14px;
                    text-align: justify;
                    padding-bottom: 15px;
                }
                .btn {
                    float: right;
                    img {
                        margin-right: 8px;
                    }
                    padding: 8px 15px;
                    font-size: 13px;
                    color: #e2660a;
                    background: rgba(0,0,0,0.65);
                    border: 1px outset #505050;
                    max-width: fit-content;
                    &:hover {
                        background: rgba(75,75,75,0.65);
                    }
                }
            }
            .main-menu-box-pic {
                width: 30%;
                text-align: center;
                img {
                    margin: 0 auto;
                }
            }
            .main-menu-box-text {
                width: 70%;
                margin: 0px 10px;
            }
        }
    }
    
    .top-mouse {
        span {
            position: absolute;
            bottom: 25px;
            left: 51%;
            width: 30px;
            height: 50px;
            margin-left: -15px;
            border: 2px solid #fff;
            border-radius: 50px;
            box-sizing: border-box;
            z-index: 10;
            cursor: pointer;
            &:before {
                position: absolute;
                top: 10px;
                left: 50%;
                content: '';
                width: 6px;
                height: 12px;
                margin-left: -3px;
                background-color: #e2660a;
                border-radius: 30px;
                -webkit-animation: sdb10 2s infinite;
                animation: sdb10 2s infinite;
                box-sizing: border-box;
            }

        }
    }
    @-webkit-keyframes sdb10 {
        0% {
            -webkit-transform: translate(0, 0);
            opacity: 0;
        }
        40% {
            opacity: 1;
        }
        80% {
            -webkit-transform: translate(0, 15px);
            opacity: 0;
        }
        100% {
            opacity: 0;
        }
    }
    @keyframes sdb10 {
        0% {
            transform: translate(0, 0);
            opacity: 0;
        }
        40% {
            opacity: 1;
        }
        80% {
            transform: translate(0, 15px);
            opacity: 0;
        }
        100% {
            opacity: 0;
        }
    }
}

/*
.wrapper-dropdown {
    position: relative;
    z-index: 999;
    max-width: 300px;
    width: 100%;
    margin: 0 auto;
    background: #fff;
    outline: 0;
    padding: 12px 15px;
    border: 1px outset #e2660a;
    cursor: pointer;
    &:after {
        content: "";
        width: 0;
        height: 0;
        position: absolute;
        top: 50%;
        right: 15px;
        margin-top: -3px;
        border-width: 6px 6px 0;
        border-style: solid;
        border-color: #8b8b8b transparent;
    }
    .tipo {
        font-family: 'Montserrat', sans-serif;
        font-size: 16px;
        font-weight: 400;
    }
    #selecionado {
        transition: all .3s ease-out;
    }
    .dropdown {
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        background: rgba(0, 0, 0, 0.95);
        border: none;
        transition: all .3s ease-out;
        max-height: 0;
        overflow: hidden;
        //display: block;
        li {
            margin: 0px 0px 15px 0px !important;
            :hover {
                a {
                    
                }
            }
            &:nth-child(1) {
                
            }
            &:last-of-type {
                a {
                    border: none;
                }
            }
            a {
                
            }
        }
    }
    &.active {
        background: #f5f5f5;
        box-shadow: none;
        border-bottom: none;
        &:after {
            border-color: #8b8b8b transparent;
        }
        .dropdown {
            max-height: 400px;
            margin: 0px 0px 0px 0px;
            padding: 15px 5px 0px 5px;
            background: rgba(0, 0, 0, 1);
        }
    }
}
.no-opacity .wrapper-dropdown-1 .dropdown,
.no-pointerevents .wrapper-dropdown-1 .dropdown {
    display: none;
    opacity: 1;
    pointer-events: auto
}
.no-opacity .wrapper-dropdown-1.active .dropdown,
.no-pointerevents .wrapper-dropdown-1.active .dropdown {
    display: block
}*/
/* ==== Main-menu-part ==== */

/* ==== footer-part ==== */
#footer-part {
    background: url(../images/footerbg.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: left center;
    padding: 70px 0px 25px;
    .footer-box {
        color: #0f0e0e;
        p {
            font-size: 15px;
            padding-top: 8px;
            a {
                color: #e2660a;
            }
        }
        
        h3 {
            color: #0f0e0e;
            font-size: 16px;
            padding-bottom: 15px;
            font-weight: 600;
            text-transform: uppercase;
        }
        .subscribe {
            .form-control {
                width: 64%;
                font-size: 14px;
                background: transparent;
                border-radius: 0px;
                border: 1px outset #0f0e0e;
                display: inline-block;
                vertical-align: middle;
                color: #0f0e0e;
                &::-webkit-input-placeholder {
                  color: #0f0e0e9e;
                }
                &::-moz-placeholder {
                  color: #0f0e0e9e;
                }
                &::-ms-input-placeholder {
                  color: #0f0e0e9e;
                }
            }
            .footer-btn {
                width: 34%;
                height: 38px;
                font-weight: 500;
                background: transparent;
                font-size: 14px;
                border-radius: 0px;
                border: 1px outset #0f0e0e;
                display: inline-block;
                vertical-align: middle;
                margin-left: 0px;
                color: #0f0e0e;
            }
        }
    }
}
/* ==== footer-part ==== */

.top-up {
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 45px;
    height: 45px;
    border: 1px outset #ffffff;
    border-radius: 0px;
    font-weight: 700;
    color: #f15a22;
    display: none;
    text-align: center;
    filter: drop-shadow(0px 0px 8px rgba(0, 0, 0, 0.65));
    z-index: 10;
    @include trn(.3s);
    &:hover {
        color: #ffffff;
        background: rgba(0, 0, 0,0.7);
    }
    i {
        font-size: 18px;
        line-height: 42px;
    }
}

/* ==== Responsive Start ==== */
@media (max-width: 1600px){
    
}
@media (max-width: 1440px){
    .section-gap {
        padding: 75px 0px;
    }
    .section-gap-top {
        padding-top: 75px;
    }
    .section-gap-bottom {
        padding-bottom: 75px;
    }
    .section-gap-m {
        margin: 75px 0px;
    }
    .section-gap-top-m {
        margin-top: 75px;
    }
    .section-gap-bottom-m {
        margin-bottom: 65px;
    }
    .wrapper-gap {
        padding: 35px 20px;
    }
    
    #Main-menu-part {
        padding: 80px 0px 45px !important;
    }
    #Main-menu-part .menu-heading {
        padding-bottom: 30px;
    }
    #Main-menu-part .menu-heading h1 {
        font-size: 45px;
    }
    #Main-menu-part .menu-heading h2 {
        font-size: 42px;
    }
}
@media (max-width: 1280px){
    .section-gap {
        padding: 65px 0px;
    }
    .section-gap-top {
        padding-top: 65px;
    }
    .section-gap-bottom {
        padding-bottom: 65px;
    }
    .section-gap-m {
        margin: 65px 0px;
    }
    .section-gap-top-m {
        margin-top: 65px;
    }
    .section-gap-bottom-m {
        margin-bottom: 60px;
    }
    
    .all-header {
        padding: 0px 0px 40px 0px;
    }
    .all-header h1, .all-header h2, .all-header h3 {
        font-size: 44px;
    }
    .all-header p {
        padding-top: 10px;
    }
    
    #Main-menu-part .tab-content {
        padding: 30px 20px 65px;
    }
    #Main-menu-part .main-menu-box-wrap .main-menu-box-wrap-heading h3 {
        font-size: 34px;
    }
}
@media (min-width: 992px) and (max-width:1199px){
    .section-gap {
        padding: 60px 0px;
    }
    .section-gap-top {
        padding-top: 60px;
    }
    .section-gap-bottom {
        padding-bottom: 60px;
    }
    .section-gap-m {
        margin: 60px 0px;
    }
    .section-gap-top-m {
        margin-top: 60px;
    }
    .section-gap-bottom-m {
        margin-bottom: 55px;
    }
    
    .all-header {
        padding: 0px 0px 35px 0px;
    }
    .all-header h1, .all-header h2, .all-header h3 {
        font-size: 42px;
    }
    .all-header p {
        padding-top: 8px;
    }
    
    #Main-menu-part {
        padding: 80px 0px 40px !important;
    }
    #Main-menu-part .nav-pills {
        margin-bottom: 35px;
    }
    #Main-menu-part .top-mouse span {
        left: 50%;
    }
    #Main-menu-part .menu-heading h1 {
        font-size: 42px;
        padding: 22px 0px 0px;
    }
    #Main-menu-part .menu-heading h2 {
        font-size: 40px;
    }
    
    #footer-part {
        padding: 55px 0px 25px;
    }
}
@media (min-width: 768px) and (max-width:991px){
    .section-gap {
        padding: 55px 0px;
    }
    .section-gap-top {
        padding-top: 55px;
    }
    .section-gap-bottom {
        padding-bottom: 55px;
    }
    .section-gap-m {
        margin: 55px 0px;
    }
    .section-gap-top-m {
        margin-top: 55px;
    }
    .section-gap-bottom-m {
        margin-bottom: 50px;
    }
    
    .all-header {
        padding: 0px 0px 35px 0px;
    }
    .all-header h1, .all-header h2, .all-header h3 {
        font-size: 38px;
    }
    .all-header p {
        padding-top: 6px;
    }
    
    .navbar-expand-lg .navbar-nav .nav-item {
        display: block;
    }
    .navbar-expand-lg .navbar-nav .nav-item .nav-link {
        padding: 25px 10px 0px;
    }
    .navbar-expand-lg .navbar-nav .nav-item .dropdown-menu {
        background-color: rgba(255, 255, 255, 0.7);
    }
    .blink-bg-menu {
        justify-content: left;
    }
    
    #Main-menu-part {
        padding: 65px 0px 35px !important;
    }
    #Main-menu-part .nav-pills .tab-item .tab-btn {
        font-size: 15px;
        padding: 8px 25px;
    }
    #Main-menu-part .menu-heading {
        padding-bottom: 20px;
    }
    #Main-menu-part .menu-heading h1 {
        font-size: 42px;
        padding: 22px 0px 0px;
    }
    #Main-menu-part .menu-heading h2 {
        font-size: 40px;
    }
    #Main-menu-part .nav-pills {
        margin-bottom: 35px;
    }
    #Main-menu-part .nav-pills .tab-item {
        margin-left: 15px;
    }
    #Main-menu-part .top-mouse span {
        left: 50%;
    }
    
    
    
    #footer-part {
        padding: 5px 0px 25px;
    }
    #footer-part .footer-box {
        text-align: center;
        padding-top: 25px !important;
    }
}
@media (min-width: 576px) and (max-width:767px){
    .section-gap {
        padding: 50px 0px;
    }
    .section-gap-top {
        padding-top: 50px;
    }
    .section-gap-bottom {
        padding-bottom: 50px;
    }
    .section-gap-m {
        margin: 50px 0px;
    }
    .section-gap-top-m {
        margin-top: 50px;
    }
    .section-gap-bottom-m {
        margin-bottom: 45px;
    }
    
    .all-header {
        padding: 0px 0px 30px 0px;
    }
    .all-header h1, .all-header h2, .all-header h3 {
        font-size: 36px;
    }
    .all-header p {
        font-size: 16px;
        padding-top: 5px;
    }
    
    .navbar-expand-lg .navbar-nav .nav-item {
        display: block;
    }
    .navbar-expand-lg .navbar-nav .nav-item .nav-link {
        padding: 25px 10px 0px;
    }
    .navbar-expand-lg .navbar-nav .nav-item .dropdown-menu {
        background-color: rgba(255, 255, 255, 0.7);
    }
    .blink-bg-menu {
        justify-content: left;
    }
    
    #Main-menu-part {
        padding: 60px 0px 35px !important;
    }
    #Main-menu-part .nav-pills .tab-item .tab-btn {
        font-size: 15px;
        padding: 8px 25px;
    }
    #Main-menu-part .menu-heading {
        padding-bottom: 20px;
    }
    #Main-menu-part .menu-heading h1 {
        font-size: 38px;
        padding: 22px 0px 0px;
    }
    #Main-menu-part .menu-heading h2 {
        font-size: 35px;
    }
    #Main-menu-part .main-menu-box-wrap .main-menu-box-wrap-heading h3 {
        font-size: 32px;
    }
    #Main-menu-part .main-menu-box-wrap .main-menu-box-wrap-heading h3:after, #Main-menu-part .main-menu-box-wrap .main-menu-box-wrap-heading h3:before {
        bottom: -6px;
    }
    #Main-menu-part .nav-pills {
        margin-bottom: 15px;
    }
    #Main-menu-part .nav-pills .tab-item {
        margin: 0px 0px 15px 15px;
    }
    #Main-menu-part .top-mouse span {
        left: 50%;
    }
    
    
    #footer-part {
        padding: 5px 0px 25px;
    }
    #footer-part .footer-box {
        text-align: center;
        padding-top: 25px !important;
    }
}
@media (max-width: 575px){
    .section-gap {
        padding: 50px 0px;
    }
    .section-gap-top {
        padding-top: 50px;
    }
    .section-gap-bottom {
        padding-bottom: 50px;
    }
    .section-gap-m {
        margin: 50px 0px;
    }
    .section-gap-top-m {
        margin-top: 50px;
    }
    .section-gap-bottom-m {
        margin-bottom: 45px;
    }
    
    .all-header {
        padding: 0px 0px 30px 0px;
    }
    .all-header h1, .all-header h2, .all-header h3 {
        font-size: 34px;
    }
    .all-header p {
        font-size: 16px;
        padding-top: 10px;
    }
    
    .navbar-expand-lg .navbar-nav .nav-item {
        display: block;
    }
    .navbar-expand-lg .navbar-nav .nav-item .nav-link {
        padding: 25px 10px 0px;
    }
    .navbar-expand-lg .logo-main-top img {
        max-height: 42px;
    }
    .navbar-expand-lg .navbar-nav .nav-item .dropdown-menu {
        background-color: rgba(255, 255, 255, 0.7);
    }
    .blink-bg-menu {
        justify-content: left;
    }
    
    #Main-menu-part {
        padding: 60px 0px 35px !important;
    }
    #Main-menu-part .tab-content {
        padding: 35px 15px 65px;
    }
    #Main-menu-part .nav-pills .tab-item .tab-btn {
        font-size: 15px;
        padding: 8px 25px;
    }
    #Main-menu-part .menu-heading {
        padding-bottom: 20px;
    }
    #Main-menu-part .menu-heading h1 {
        font-size: 34px;
        padding: 22px 0px 0px;
    }
    #Main-menu-part .menu-heading h2 {
        font-size: 30px;
    }
    #Main-menu-part .main-menu-box-wrap .main-menu-box-wrap-heading h3 {
        font-size: 28px;
    }
    #Main-menu-part .main-menu-box-wrap .main-menu-box-wrap-heading h3:after, #Main-menu-part .main-menu-box-wrap .main-menu-box-wrap-heading h3:before {
        bottom: -5px;
    }
    #Main-menu-part .nav-pills {
        margin-bottom: 15px;
    }
    #Main-menu-part .nav-pills .tab-item {
        margin: 0px 0px 12px 12px;
    }
    #Main-menu-part .top-mouse span {
        left: 50%;
    }
    
    #footer-part {
        padding: 5px 0px 25px;
    }
    #footer-part .footer-box {
        text-align: center;
        padding-top: 25px !important;
    }
}
@media (max-width: 480px){
    #Main-menu-part .main-menu-box-wrap .main-menu-box-sub {
        display: block;
        margin-bottom: 40px;
    }
    #Main-menu-part .main-menu-box-wrap .main-menu-box-sub .main-menu-box-pic {
        width: 100%;
        margin-bottom: 20px;
    }
    #Main-menu-part .main-menu-box-wrap .main-menu-box-sub .main-menu-box-text {
        width: 100%;
        margin: 0px;
    }
}
@media (max-width: 414px){
    #Main-menu-part .menu-heading h1 {
        font-size: 30px;
    }
    #Main-menu-part .menu-heading h2 {
        font-size: 28px;
    }
    #Main-menu-part .main-menu-box-wrap .main-menu-box-wrap-heading h3 {
        font-size: 26px;
    }
    #Main-menu-part .nav-pills .tab-item {
        margin: 0px 0px 12px 12px;
    }
    #Main-menu-part .nav-pills .tab-item .tab-btn {
        padding: 8px 16px;
    }
}
@media (max-width: 395px){
    
}
@media (max-width: 375px){
    
}
@media (max-width: 360px){
    #Main-menu-part .nav-pills .tab-item .tab-btn {
        padding: 7px 14px;
    }
}
@media (max-width: 320px){
    #Main-menu-part .menu-heading h2 {
        font-size: 27px;
        padding-top: 20px;
    }
    #Main-menu-part .nav-pills .tab-item {
        margin: 0px 0px 10px 8px;
    }
    #Main-menu-part .nav-pills .tab-item .tab-btn {
        padding: 7px 9px;
    }
}
/* ==== Responsive End ==== */