* {
    margin: 0px;
    padding: 0px;
    outline: 0px;
}

img {
    border: 0px;
}

ul, ol {
    list-style-type: none;
}

a {
    text-decoration: none;
}

.clr {
    clear: both;
}

body {
}

.card_top_title {
    font-size: 14px;
    margin-top: 2px;
}

.card_top_button {
    text-transform: uppercase;
    font-size: 11px;
    font-weight: bold;
}

.custom_table {
}

.custom_table thead {
    background-color: #3c3c3c;
}

.custom_table tr {
}

.custom_table tr th {
    color: #fff;
    border: 1px solid #3c3c3c;
    font-size: 14px;
}

.custom_table tr td {
    font-size: 14px;
}

.custom_table.with-image tr td {
    line-height: 50px;
}

.bread_part {
    border-bottom: 1px solid #ddd;
    margin: 0px -30px 30px;
}

.bread_col {
    padding: 0px 30px;
}

.bread_title {
    text-transform: uppercase;
}

.view_icon {
    color: #505458;
}

.edit_icon {
    color: #117a8b;
}

.delete_icon {
    color: #ef5350;
}

.card_footer_expode a {
    font-size: 11px;
    text-transform: uppercase;
    font-weight: 600;
}

.card_footer_button button {
    font-size: 11px;
    text-transform: uppercase;
    font-weight: 600;
}

.card_form {
    padding-top: 40px;
}

.custom_form_group {
}

.custom_form_group label {
    text-align: right;
    font-weight: bold;
    margin-top: 5px;
    margin-right: -10px;
    font-size: 14px;
}

.req_star {
    color: #CC0000;
    font-weight: bold;
}

.user-details .user-info a.dropdown-toggle {
    font-size: 13px;
}

.custom_form_group {
}

.footer {
    font-size: 12px;
}

/*Image Upload code start*/
.btn-file {
    position: relative;
    overflow: hidden;
}

.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: #fff;
    cursor: inherit;
    display: block;
}

#img-upload {
    max-height: 200px;
    margin-top: 20px;
}

.btnu_browse {
    border-radius: 3px;
    text-transform: uppercase;
}

.input-group-btn {
    border: 1px solid #ddd;
    border-right: 0px;
}

/*view table code start*/
.custom_view_table {
    margin-top: 20px;
}

.custom_view_table tr {
}

.custom_view_table tr td:first-child {
    font-weight: bold;
    text-align: right;
    width: 28%;
}

.custom_view_table tr td:last-child {
    font-weight: normal;
    text-align: left;
    width: 70%;
}

.mini_stat_info {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 14px;
}

.has-error .invalid-feedback {
    display: block;
}

.has-error .invalid-feedback strong {
    padding-left: 10px;
    font-style: italic;
}

.table_image_50 {
    width: 50px;
    max-height: 50px;
    border: 2px solid #ddd;
    border-radius: 2px;
}

.table_image_200 {
    width: 200px;
    max-height: 200px;
    border: 2px solid #ddd;
    border-radius: 2px;
}

.table_image_100 {
    width: 100px;
    max-height: 100px;
    border: 2px solid #ddd;
    border-radius: 2px;
}

#sidebar-menu > ul > li {
    border-bottom: 1px solid #f1f1f1;
}