/*===================== TABLE OF CONTENT =======================
1. Reset CSS
2. Fonts
3. General Styling
=============================================================*/
@mixin trn($s) {
    -webkit-transition: all linear $s;
    -moz-transition: all linear $s;
    -ms-transition: all linear $s;
    -o-transition: all linear $s;
    transition: all linear $s;
}
@mixin trn_o($s) {
    -webkit-transition: opacity $s ease;
    -moz-transition: opacity $s ease;
    -ms-transition: opacity $s ease;
    -o-transition: opacity $s ease;
    transition: opacity $s ease;
}
@mixin an($s) {
    -webkit-animation-delay: $s;
    -moz-animation-delay: $s;
    -ms-animation-delay: $s;
    -o-animation-delay: $s;
    animation-delay: $s;
}
@mixin bx($s) {
    -webkit-box-sizing: $s;
    -moz-box-sizing: $s;
    -ms-box-sizing: $s;
    -o-box-sizing: $s;
    box-sizing: $s;
}
@mixin gra1 {
    
}
@mixin gra2 {
    
}
@mixin gra3 {
    
}
@mixin gra4 {
    
}

/* ==== All tag Start ==== */
* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    @include bx(border-box);
}

html[hide-scrollbar="true"]::-webkit-scrollbar {
    display:none;
}
body {
    margin: 0;
    padding: 0;
    outline: 0;
    @include bx(border-box);
    font-family: 'Montserrat', sans-serif;
    overflow-x: hidden;
	background: rgba(255,255,243,1);
}

body,
html {
    height: 100%;
}

.wow {
    visibility: hidden;
}

body::-webkit-scrollbar-track,
textarea::-webkit-scrollbar-track {
    background-color: #e7e7e7;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    -ms-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    -o-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}
body::-webkit-scrollbar,
textarea::-webkit-scrollbar {
    width: 10px;
}
body::-webkit-scrollbar-thumb,
textarea::-webkit-scrollbar-thumb {
    background-color: #000000;
    -webkit-box-shadow: inset 0 0 6px rgba(255, 255, 255, .3);
    -moz-box-shadow: inset 0 0 6px rgba(255, 255, 255, .3);
    -ms-box-shadow: inset 0 0 6px rgba(255, 255, 255, .3);
    -o-box-shadow: inset 0 0 6px rgba(255, 255, 255, .3);
    box-shadow: inset 0 0 6px rgba(255, 255, 255, .3);
}
textarea::-webkit-input-placeholder,
input::-webkit-input-placeholder {
    @include trn(.3s);
}
textarea:-ms-input-placeholder,
input:-ms-input-placeholder {
    @include trn(.3s);
}
textarea::-ms-input-placeholder,
input::-ms-input-placeholder {
    @include trn(.3s);
}
textarea::placeholder,
input::placeholder {
    @include trn(.3s);
}

ul,
ol {
    list-style-type: none;
    margin: 0;
}

a,
a:hover,
a:active,
a:visited,
a:focus {
    font-family: 'Montserrat', sans-serif;
    text-decoration: none;
    outline: 0 !important;
}
img {
    border: 0;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    margin: 0px;
}
p {
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    font-weight: 400;
    margin: 0px;
}

.clr {
    clear: both;
}
.corp {
    overflow: hidden;
}
.corp-y {
    overflow-y: hidden;
}
.corp-x {
    overflow-x: hidden;
}
.d-ib {
    display: inline-block;
}
.bdrs-5 {
    border-radius: 5px;
}
.bdrs-0 {
    border-radius: 0;
}
.no-border {
    border: none !important;
}
.no-flex {
    -webkit-box-flex: 0;
    -ms-flex: none;
    flex: none;
}
.row-flex-none {
    display: block;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
}

.section-gap {
    padding: 95px 0px;
}
.section-gap-top {
    padding-top: 95px;
}
.section-gap-top-big {
    padding-top: 170px;
}
.section-gap-bottom {
    padding-bottom: 95px;
}
.section-gap-m {
    margin: 95px 0px;
}
.section-gap-top-m {
    margin-top: 95px;
}
.section-gap-bottom-m {
    margin-bottom: 95px;
}
.wrapper-gap {
    padding: 40px 20px;
}

.display-table {
    display: table;
    width: 100%;
    height: 100%;
    .display-content {
        vertical-align: middle;
        display: table-cell;
    }
}
/* ==== All tag End ==== */

/* ==== All-header ==== */
.all-header {
    text-align: center;
    padding: 0px 0px 50px 0px;
    color: #cccccc;
    h1,h2,h3 {
        font-size: 46px;
        //font-family: NB;
        color: #ffffff;
        display: inline-block;
        text-transform: uppercase;
        a {
            color: inherit;
        }
    }
    p {
        font-size: 18px;
        font-weight: 400;
        padding-top: 15px;
    }
}
.just-grd {
    background: -webkit-linear-gradient(top, #ffffff 0%, #ffffff 15%, #b8b8b8 50%, #ffffff 85%, #ffffff 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
/* ==== All-header ==== */

/* ==== All-button ==== */
.btn {
    position: relative;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    font-weight: 400;
    border: 1px outset #ff9800;
    background: rgba(255, 152, 0, 0.3);
    color: #ffffff;
    padding: 12px 5px;
    border-radius: 0px;
    max-width: 185px;
    width: 100%;
    display: inline-block;
    text-align: center;
    overflow: hidden;
    text-transform: uppercase;
    @include trn(.3s);
    &:hover {
        background: transparent;
        color: #ffffff;
    }
    &:focus {
        background: transparent;
        color: #ffffff;
        text-decoration: none;
        outline: none !important;
    }
    .active,
    &:active {
        background: transparent;
        color: #ffffff;
    }
}
/* ==== All-button ==== */

/* ==== Navbar-part ==== */
#navbar-main {
    background-color: rgba(255, 255, 243, .75);
    border-bottom: 1px solid #ff9800;
    padding: 15px 0px;
    @include trn(.5s);
}
.banner-manu-black {
    background-color: rgba(255, 255, 243, 1) !important;
    padding: 10px 0px !important;
    border-bottom: 2px solid #ff9800 !important;
}
.navbar-brand {
    padding: 0;
    margin: 0;
}
.navbar-expand-lg {
    padding: 0;
    .logo-main-top {
        img {
            max-height: 45px;
        }
    }
    .navbar-nav {
        display: block;
        .nav-item {
            display: inline-block;
            vertical-align: middle;
            padding: 0px 10px;
            &:hover {
                .nav-link {
                    color: #ff9800;
                }
            }
            .nav-link {
                color: #0f0e0e;
                text-transform: uppercase;
                text-decoration: none;
                font-size: 16px;
                font-weight: 700;
                padding: 10px;
                position: relative;
                @include trn(.3s);
                i {
                    font-size: 25px;
                    color: #0f0e0e;
                }
            }
			.cart-link {
				position: relative;
				span {
					position: absolute;
					top: 8px;
					right: 2px;
					height: 18px;
					width: 18px;
					line-height: 18px;
					background-color: #ff9800;
					color: #000000;
					font-size: 12px;
					font-weight: bold;
					text-align: center;
					border-radius: 50%;
                	@include trn(.3s);
				}
			}
            .dropdown-toggle {
                @include trn(.3s);
                &:after {
                    display: inline-block;
                    margin-left: .255em;
                    vertical-align: .255em;
                    content: "";
                    border-top: .3em solid;
                    border-right: .3em solid transparent;
                    border-bottom: 0;
                    border-left: .3em solid transparent;
                }
            }
            .dropdown-menu {
                display: none;
                top: 80%;
                font-size: 15px;
                color: #0f0e0e;
                background-color: rgba(255, 255, 243, 0.5);
                border-bottom: 1px outset #ff9800;
                border-radius: 0px;
                @include trn(.3s);
                &.show {
                    display: block;
                }
                .dropdown-item {
                    padding: 0px;
					margin-bottom: 05px;
					&:active {
						background-color: rgba(0,0,0,0);
					}
                    .nav-link-drop {
                        padding: 8px 15px 8px 20px;
                        font-size: 16px;
                        font-weight: 700;
                        color: #ff9800;
						border-top-left-radius: 20px;
						border-bottom-right-radius: 20px;
                        display: block;
                        text-transform: uppercase;
                        @include trn(.3s);
                        &:hover, &:focus {
                            color: #000000;
                            text-decoration: none;
                            background-color: rgba(255,152,0,0.8);
                        }
                        &.active {
                            color: #000000;
                            text-decoration: none;
                            background-color: rgba(255,152,0,0.8);
                        }
                    }
                }
            }
        }
        .active {
            .nav-link {
                color: #ff9800;
            }
            .btn-no-bg {
                color: #ffffff;
                background: #ff9800;
                &:hover {
                    color: #ffffff;
                }
            }
        }
    }
}

.navbar-toggler {
    padding: 4px 8px;
    font-size: 1.25rem;
    line-height: 1;
    color: #ffffff;
    border: 1px outset #ff9800;
    background-color: rgba(0, 0, 0, .5);
    border-radius: 0;
    &:focus, &:hover {
        outline: 0
    }
    .navbar-toggler-ico {
        display: inline-block;
        width: 1.5em;
        height: 1.5em;
        vertical-align: middle;
        padding: 4px 0;
        background-size: 100% 100%;
        .icon-bar {
            display: block;
            width: 30px;
            height: 3px;
            border-radius: 0px;
            background-color: #fff;
            &+ .icon-bar {
                margin-top: 6px
            }
        }
    }
}

.blink-bg-menu {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    z-index: 300;
    &:hover {
        .nav-link {
            //flex: auto;
            &:after {
                background: #ffffff !important;
            }
        }
    }
    &::before, &::after {
        position: absolute;
        content: '';
        display: block;
        width: 0px;
        height: 0px;
        background-color: #656565;
        -webkit-transform-origin: center center;
        -moz-transform-origin: center center;
        -ms-transform-origin: center center;
        -o-transform-origin: center center;
        transform-origin: center center;
        -webkit-animation: 2s 2s forwards infinite pulsating;
        -moz-animation: 2s 2s forwards infinite pulsating;
        -ms-animation: 2s 2s forwards infinite pulsating;
        -o-animation: 2s 2s forwards infinite pulsating;
        animation: 2s 2s forwards infinite pulsating;
        z-index: -1;
    }
    &::after {
        -webkit-animation-delay: 1.5s;
        -moz-animation-delay: 1.5s;
        -ms-animation-delay: 1.5s;
        -o-animation-delay: 1.5s;
        animation-delay: 1.5s;
    }
    .nav-link {
//        color: #ff9800 !important;
    }
}
@keyframes pulsating {
    0% {
        opacity: .45;
    }
    20% {
        opacity: .35;
    }
    40% {
        opacity: .25;
    }
    60% {
        opacity: .15;
    }
    100% {
        width: 100%;
        height: 100%;
        opacity: 0;
    }
}
.skiptranslate .goog-te-banner-frame{
    display: none !important;
}
.goog-te-gadget {
    font-size: 0px !important;
}
.goog-te-gadget .goog-te-combo {
    font-size: 16px;
    font-weight: 700;
    background: transparent;
    border-radius: 0px;
    border: 1px outset #ff9800;
    display: inline-block;
    vertical-align: middle;
    color: #0f0e0e;
    padding: 8px 10px;
}
.goog-te-gadget .goog-te-combo option {
    background-color: rgba(255, 255, 255, .65) !important;
}
.goog-logo-link {
    display: none;
}
/* ==== Navbar-part ==== */

/* ==== Main-menu-part ==== */
#Main-menu-part {
	background: url(../images/main-menu-bg7.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
	position: relative;
	&:before {
		position: absolute;
		content: '';
		top: 0;
		left: 0;
		height: 100%;
		width: 100%;
		background: rgba(255,255,243,0.95);
	}
    padding: 130px 0px 70px;
	position: relative;
    .shape-img {
		position: absolute;
		width: 100%;
	}
	.top-shape {
		top: 0;
		right: 0;
		max-width: 480px;
	}
	.mid-shape {
		bottom: 100px;;
		left: 0;
		max-width: 280px;
	}
    .menu-heading {
        text-align: center;
        padding-bottom: 35px;
        img {
            
        }
        h1 {
            font-size: 40px;
            color: #534741;
            text-transform: uppercase;
            padding: 25px 0px 0px;
        }
        h2 {
            font-size: 24px;
            color: #534741;
            padding-top: 10px;
            text-transform: uppercase;
            span {
                color: #ff9800;
            }
        }
    }
    .nav-pills {
        margin-bottom: 30px;
        align-items: center;
        justify-content: center;
        .tab-item {
            margin: 0px 0px 15px 20px;
            .tab-btn {
                color: #000000;
                max-width: 100%;
                font-size: 16px;
                padding: 8px 30px;
                border: none;
                border-radius: 0px !important;
				border-top-left-radius: 35px !important;
				border-bottom-right-radius: 35px !important;
                background: rgba(255,152,0, 0.2);
                box-shadow: none;
                text-transform: capitalize;
                &:hover {
					background: rgba(255,152,0,0.5);
                }
                &.active {
					background: rgba(255,152,0,0.5);
                }
            }
        }
    }
    
    .tab-content {
        padding: 0px 0px 0px;
        background: rgba(0,0,0,0.0);
    }
    .main-menu-box-wrap {
        .food-box-dp {
            display: none;
        }
        .main-menu-box-wrap-heading {
            text-align: center;
            padding-bottom: 35px;
            h3 {
                color: #534741;
                font-size: 26px;
                font-weight: 700;
                text-transform: uppercase;
                display: inline-block;
                position: relative;
                &:after, &:before  {
                    position: absolute;
                    content: '';
                    bottom: -5px;
                    left: 15px;
                    height: 2px;
                    width: 35%;
                    background: #ff9800;
                }
                &:after {
                    left: 15px;
                    width: 35%;
                }
                &:before {
                    left: 2px;
                    width: 8px;
                }
            }
        }
        .main-menu-box-sub {
			border-top-left-radius: 20px;
			border-bottom-right-radius: 20px;
            overflow: hidden;
            margin-bottom: 30px;
			background: #fffff3;
			-webkit-box-shadow: 0px 0px 25px 0px rgba(0,0,0,0.3);
			-moz-box-shadow: 0px 0px 25px 0px rgba(0,0,0,0.3);
			box-shadow: 0px 0px 25px 0px rgba(0,0,0,0.3);
			@include trn(.3s);
			&:hover {
				-webkit-box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.15);
				-moz-box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.15);
				box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.15);
				.main-menu-box-pic {
					img {
						transform: scale(1.22);
					}
				}
				.main-menu-box-text {
					.main-menu-cartBox {
						.star-icon {
							i {transform: rotateY(360deg);
							}
						}
					}
				}
			}
			.main-menu-box-pic {
            	overflow: hidden;
				img {
					transform: scale(1.17);
					@include trn(.3s);
				}
			}
            .main-menu-box-text {
                color: #000000;
                .main-menu-box-heading {
                    border-bottom: 1px solid #ff9800;
                    padding: 0px 0px 3px 0px;
                    margin: 10px 10px;
                    overflow: hidden;
                    h4 {
                        font-size: 22px;
                        padding-top: 5px;
                        float: left;
                    }
                    span {
                        font-size: 24px;
                        color: #ff9800;
                        float: right;
                    }
                }
                p {
                    font-size: 14px;
                    text-align: justify;
                    margin: 0px 10px 10px 10px;
                }
				.main-menu-cartBox {
					margin: 10px 0px 0px 10px;
					overflow: hidden;
					.star-icon {
						padding: 14px 0px 0px 10px;
						float: left;
						@include trn(.3s);
						i {
							font-size: 18px;
							color: #ffc107;
							transform: rotateY(0deg);
							@include trn(.3s);
						}
					}
					.cartBtn {
						background: rgba(255,152,0,0.5);
//                    	border: 1px solid #ff9800;
						color: #000000;
						padding: 12px 12px 8px;
						border-top-left-radius: 20px;
						border-bottom-right-radius: 20px;
						float: right;
						@include trn(.3s);
						&:hover {
							background: rgba(255,152,0,1);
						}
						i {
							font-size: 20px;
						}
					}
				}
            }
        }
		
		.food_pagination {
			display: inline-block;
			margin: 0 auto;
			padding-top: 10px;
			.pagination {
				.page-item {
					@include trn(.3s);
					&:first-child {
						.page-link {
							border-bottom-left-radius: 0px;
						}
					}
					&:last-child {
						.page-link {
							border-top-right-radius: 0px;
						}
					}
					&:hover {
						.page-link {
							background-color: rgba(255,152,0,0.5);
						}
					}
					.page-link {
						padding: 9px 16px;
						color: #000000;
						background-color: rgba(255,152,0,0.2);
						border: none;
						border-top-left-radius: 20px;
						border-bottom-right-radius: 20px;
						margin: 0px 10px;
						@include trn(.3s);
					}
					&.active {
						.page-link {
							background-color: rgba(255,152,0,0.5);
						}
					}
				}
			}
		}
    }
	
    
    .top-mouse {
        span {
            position: absolute;
            bottom: -50px;
            left: 51%;
            width: 30px;
            height: 50px;
            margin-left: -15px;
            border: 2px solid #ffc107;
            border-radius: 50px;
            box-sizing: border-box;
            z-index: 10;
            cursor: pointer;
            &:before {
                position: absolute;
                top: 10px;
                left: 50%;
                content: '';
                width: 6px;
                height: 12px;
                margin-left: -3px;
                background-color: #ffc107;
                border-radius: 30px;
                -webkit-animation: sdb10 2s infinite;
                animation: sdb10 2s infinite;
                box-sizing: border-box;
            }

        }
    }
    @-webkit-keyframes sdb10 {
        0% {
            -webkit-transform: translate(0, 0);
            opacity: 0;
        }
        40% {
            opacity: 1;
        }
        80% {
            -webkit-transform: translate(0, 15px);
            opacity: 0;
        }
        100% {
            opacity: 0;
        }
    }
    @keyframes sdb10 {
        0% {
            transform: translate(0, 0);
            opacity: 0;
        }
        40% {
            opacity: 1;
        }
        80% {
            transform: translate(0, 15px);
            opacity: 0;
        }
        100% {
            opacity: 0;
        }
    }
}

/* ==== Main-menu-part ==== */

/* ==== footer-part ==== */
#footer-part {
    padding: 40px 0px 30px;
	position: relative;
    .shape-img2 {
		position: absolute;
		width: 100%;
	}
	.bottom-shape {
		bottom: 0;
		right: 0;
		max-width: 260px;
	}
    .footer-box {
        color: #0f0e0e;
        p {
            font-size: 15px;
            padding-top: 8px;
            a {
                color: #ff9800;
            }
        }
        
        h3 {
            color: #0f0e0e;
            font-size: 16px;
            padding-bottom: 15px;
            font-weight: 600;
            text-transform: uppercase;
        }
        .subscribe {
            .form-control {
                width: 64%;
                font-size: 14px;
                background: transparent;
                border-radius: 0px;
                border: 1px outset #0f0e0e;
                display: inline-block;
                vertical-align: middle;
                color: #0f0e0e;
                &::-webkit-input-placeholder {
                  color: #0f0e0e9e;
                }
                &::-moz-placeholder {
                  color: #0f0e0e9e;
                }
                &::-ms-input-placeholder {
                  color: #0f0e0e9e;
                }
            }
            .footer-btn {
                width: 34%;
                height: 38px;
                font-weight: 500;
                background: transparent;
                font-size: 14px;
                border-radius: 0px;
                border: 1px outset #0f0e0e;
                display: inline-block;
                vertical-align: middle;
                margin-left: 0px;
                color: #0f0e0e;
            }
        }
    }
}
/* ==== footer-part ==== */

.top-up {
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 45px;
    height: 45px;
    border: 1px outset #ffffff;
    border-radius: 0px;
    font-weight: 700;
    color: #000000;
    display: none;
    text-align: center;
    filter: drop-shadow(0px 0px 8px rgba(0, 0, 0, 0.65));
    z-index: 10;
    @include trn(.3s);
    &:hover {
        color: #ffffff;
        background: rgba(0, 0, 0,0.7);
    }
    i {
        font-size: 18px;
        line-height: 42px;
    }
}

/* ==== Responsive Start ==== */
@media (max-width: 1600px){
    
}
@media (max-width: 1440px){
    .section-gap {
        padding: 75px 0px;
    }
    .section-gap-top {
        padding-top: 75px;
    }
    .section-gap-bottom {
        padding-bottom: 75px;
    }
    .section-gap-m {
        margin: 75px 0px;
    }
    .section-gap-top-m {
        margin-top: 75px;
    }
    .section-gap-bottom-m {
        margin-bottom: 65px;
    }
    .wrapper-gap {
        padding: 35px 20px;
    }
    
    #Main-menu-part {
        padding: 110px 0px 70px;
    }
	#Main-menu-part .top-shape {
		max-width: 400px;
	}
	#Main-menu-part .mid-shape {
		max-width: 260px;
	}
	
    #Main-menu-part .nav-pills {
        margin-bottom: 25px;
    }
    #Main-menu-part .menu-heading {
        padding-bottom: 30px;
    }
    #Main-menu-part .menu-heading h1 {
        font-size: 38px;
    }
    #Main-menu-part .menu-heading h2 {
        font-size: 22px;
    }
	#Main-menu-part .main-menu-box-wrap .main-menu-box-wrap-heading {
		padding-bottom: 30px;
	}
    #Main-menu-part .main-menu-box-wrap .main-menu-box-wrap-heading h3 {
        font-size: 22px;
    }
    #Main-menu-part .main-menu-box-wrap .main-menu-box-wrap-heading h3:after, #Main-menu-part .main-menu-box-wrap .main-menu-box-wrap-heading h3:before {
        bottom: -4px;
    }
	
	#footer-part .bottom-shape {
		max-width: 225px;
	}
}
@media (max-width: 1280px){
    .section-gap {
        padding: 65px 0px;
    }
    .section-gap-top {
        padding-top: 65px;
    }
    .section-gap-bottom {
        padding-bottom: 65px;
    }
    .section-gap-m {
        margin: 65px 0px;
    }
    .section-gap-top-m {
        margin-top: 65px;
    }
    .section-gap-bottom-m {
        margin-bottom: 60px;
    }
    
    .all-header {
        padding: 0px 0px 40px 0px;
    }
    .all-header h1, .all-header h2, .all-header h3 {
        font-size: 44px;
    }
    .all-header p {
        padding-top: 10px;
    }
    
	
	#Main-menu-part .top-shape {
		max-width: 360px;
	}
	#Main-menu-part .mid-shape {
		bottom: 70px;
		max-width: 245px;
	}
    #Main-menu-part .tab-content {
        padding: 0px 0px 0px;
    }
	
	#footer-part .bottom-shape {
		max-width: 210px;
	}
}
@media (min-width: 992px) and (max-width:1199px){
    .section-gap {
        padding: 60px 0px;
    }
    .section-gap-top {
        padding-top: 60px;
    }
    .section-gap-bottom {
        padding-bottom: 60px;
    }
    .section-gap-m {
        margin: 60px 0px;
    }
    .section-gap-top-m {
        margin-top: 60px;
    }
    .section-gap-bottom-m {
        margin-bottom: 55px;
    }
    
    .all-header {
        padding: 0px 0px 35px 0px;
    }
    .all-header h1, .all-header h2, .all-header h3 {
        font-size: 42px;
    }
    .all-header p {
        padding-top: 8px;
    }
    
    #Main-menu-part {
        padding: 100px 0px 70px;
    }
    #Main-menu-part .top-shape {
		max-width: 325px;
	}
	#Main-menu-part .mid-shape {
		bottom: 80px;
		max-width: 235px;
	}
	
	#Main-menu-part .top-mouse span {
        left: 50%;
    }
	
    #footer-part {
        padding: 35px 0px 25px;
    }
	#footer-part .bottom-shape {
		max-width: 200px;
	}
}
@media (min-width: 768px) and (max-width:991px){
    .section-gap {
        padding: 55px 0px;
    }
    .section-gap-top {
        padding-top: 55px;
    }
    .section-gap-bottom {
        padding-bottom: 55px;
    }
    .section-gap-m {
        margin: 55px 0px;
    }
    .section-gap-top-m {
        margin-top: 55px;
    }
    .section-gap-bottom-m {
        margin-bottom: 50px;
    }
    
    .all-header {
        padding: 0px 0px 35px 0px;
    }
    .all-header h1, .all-header h2, .all-header h3 {
        font-size: 38px;
    }
    .all-header p {
        padding-top: 6px;
    }
    
    .navbar-expand-lg .navbar-nav .nav-item {
        display: block;
    }
    .navbar-expand-lg .navbar-nav .nav-item .nav-link {
        padding: 25px 10px 0px;
    }
	.navbar-expand-lg .navbar-nav .nav-item .cart-link span {
		top: 24px;
		right: 0px;
	}
    .navbar-expand-lg .navbar-nav .nav-item .dropdown-menu {
        background-color: rgba(255, 255, 255, 0.5);
		border: none;
    }
    .blink-bg-menu {
        justify-content: left;
    }
    
	.navbar-expand-lg .navbar-nav .nav-item .dropdown-menu.mobilShow {
		display: block;
	}
	
    #Main-menu-part {
        padding: 100px 0px 70px;
    }
	#Main-menu-part .top-shape {
		max-width: 300px;
	}
	#Main-menu-part .mid-shape {
		bottom: 70px;
		max-width: 235px;
	}
	
    #Main-menu-part .nav-pills .tab-item {
        margin: 0px 0px 15px 15px;
    }
    #Main-menu-part .nav-pills .tab-item .tab-btn {
        font-size: 15px;
        padding: 8px 25px;
    }
    #Main-menu-part .menu-heading {
        padding-bottom: 20px;
    }
    #Main-menu-part .menu-heading h1 {
        font-size: 36px;
        padding: 20px 0px 0px;
    }
	
	#Main-menu-part .top-mouse span {
        left: 50%;
    }
    
    #footer-part {
        padding: 5px 0px 25px;
    }
	#footer-part .bottom-shape {
		max-width: 200px;
	}
    #footer-part .footer-box {
        text-align: center;
        padding-top: 25px !important;
    }
}
@media (min-width: 576px) and (max-width:767px){
    .section-gap {
        padding: 50px 0px;
    }
    .section-gap-top {
        padding-top: 50px;
    }
    .section-gap-bottom {
        padding-bottom: 50px;
    }
    .section-gap-m {
        margin: 50px 0px;
    }
    .section-gap-top-m {
        margin-top: 50px;
    }
    .section-gap-bottom-m {
        margin-bottom: 45px;
    }
    
    .all-header {
        padding: 0px 0px 30px 0px;
    }
    .all-header h1, .all-header h2, .all-header h3 {
        font-size: 36px;
    }
    .all-header p {
        font-size: 16px;
        padding-top: 5px;
    }
    
    .navbar-expand-lg .navbar-nav .nav-item {
        display: block;
    }
    .navbar-expand-lg .navbar-nav .nav-item .nav-link {
        padding: 25px 10px 0px;
    }
	.navbar-expand-lg .navbar-nav .nav-item .cart-link span {
		top: 24px;
		right: 0px;
	}
    .navbar-expand-lg .navbar-nav .nav-item .dropdown-menu {
        background-color: rgba(255, 255, 255, 0.5);
		border: none;
    }
    .blink-bg-menu {
        justify-content: left;
    }
	
	.navbar-expand-lg .navbar-nav .nav-item .dropdown-menu.mobilShow {
		display: block;
	}
    
    #Main-menu-part {
        padding: 100px 0px 70px;
    }
	#Main-menu-part .top-shape {
		max-width: 300px;
	}
	#Main-menu-part .mid-shape {
		bottom: 95px;
		max-width: 235px;
	}
    #Main-menu-part .nav-pills {
        margin-bottom: 15px;
    }
    #Main-menu-part .nav-pills .tab-item {
        margin: 0px 0px 15px 15px;
    }
    #Main-menu-part .nav-pills .tab-item .tab-btn {
        font-size: 15px;
        padding: 8px 25px;
    }
    #Main-menu-part .menu-heading {
        padding-bottom: 20px;
    }
    #Main-menu-part .menu-heading h1 {
        font-size: 34px;
        padding: 20px 0px 0px;
    }
	
	#Main-menu-part .top-mouse span {
        left: 50%;
    }
    
    
    #footer-part {
        padding: 5px 0px 25px;
    }
	#footer-part .bottom-shape {
		max-width: 170px;
	}
    #footer-part .footer-box {
        text-align: center;
        padding-top: 25px !important;
    }
}
@media (max-width: 575px){
    .section-gap {
        padding: 50px 0px;
    }
    .section-gap-top {
        padding-top: 50px;
    }
    .section-gap-bottom {
        padding-bottom: 50px;
    }
    .section-gap-m {
        margin: 50px 0px;
    }
    .section-gap-top-m {
        margin-top: 50px;
    }
    .section-gap-bottom-m {
        margin-bottom: 45px;
    }
    
    .all-header {
        padding: 0px 0px 30px 0px;
    }
    .all-header h1, .all-header h2, .all-header h3 {
        font-size: 34px;
    }
    .all-header p {
        font-size: 16px;
        padding-top: 10px;
    }
    
    .navbar-expand-lg .navbar-nav .nav-item {
        display: block;
    }
    .navbar-expand-lg .navbar-nav .nav-item .nav-link {
        padding: 25px 10px 0px;
    }
	.navbar-expand-lg .navbar-nav .nav-item .cart-link span {
		top: 24px;
		right: 0px;
	}
    .navbar-expand-lg .logo-main-top img {
        max-height: 42px;
    }
    .navbar-expand-lg .navbar-nav .nav-item .dropdown-menu {
        background-color: rgba(255, 255, 255, 0.5);
		border: none;
    }
    .blink-bg-menu {
        justify-content: left;
    }
	
	.navbar-expand-lg .navbar-nav .nav-item .dropdown-menu.mobilShow {
		display: block;
	}
    
    #Main-menu-part {
        padding: 100px 0px 70px;
    }
	#Main-menu-part .top-shape {
		max-width: 300px;
	}
	#Main-menu-part .mid-shape {
		bottom: 95px;
		max-width: 235px;
	}
    #Main-menu-part .tab-content {
        padding: 0px;
    }
    #Main-menu-part .nav-pills {
        margin-bottom: 20px;
    }
    #Main-menu-part .nav-pills .tab-item {
        margin: 0px 0px 12px 12px;
    }
    #Main-menu-part .nav-pills .tab-item .tab-btn {
        font-size: 15px;
        padding: 8px 25px;
    }
    #Main-menu-part .menu-heading {
        padding-bottom: 30px;
    }
    #Main-menu-part .menu-heading h1 {
        font-size: 32px;
        padding: 20px 0px 0px;
    }
    #Main-menu-part .menu-heading h2 {
        font-size: 20px;
    }
	
	#Main-menu-part .main-menu-box-wrap .main-menu-box-sub {
		margin: 0px 100px 30px;
	}
    
	#Main-menu-part .top-mouse span {
        left: 50%;
    }
	
    #footer-part {
        padding: 5px 0px 25px;
    }
	#footer-part .bottom-shape {
		max-width: 170px;
	}
    #footer-part .footer-box {
        text-align: center;
        padding-top: 25px !important;
    }
}
@media (max-width: 480px){
	#Main-menu-part .main-menu-box-wrap .main-menu-box-sub {
		margin: 0px 50px 30px;
	}
	#Main-menu-part .top-shape {
		max-width: 270px;
	}
	#Main-menu-part .mid-shape {
		bottom: 100px;
		max-width: 225px;
	}
}
@media (max-width: 414px){
    #Main-menu-part .menu-heading h1 {
        font-size: 30px;
    }
    #Main-menu-part .nav-pills .tab-item {
        margin: 0px 0px 12px 10px;
    }
    #Main-menu-part .nav-pills .tab-item .tab-btn {
        padding: 8px 16px;
    }
	
	#Main-menu-part .main-menu-box-wrap .main-menu-box-sub {
		margin: 0px 20px 30px;
	}
}
@media (max-width: 395px){
    #Main-menu-part .main-menu-box-wrap .main-menu-box-sub {
		margin: 0px 15px 30px;
	}
}
@media (max-width: 375px){
    #Main-menu-part .main-menu-box-wrap .main-menu-box-sub {
		margin: 0px 0px 30px;
	}
}
@media (max-width: 360px){
	
}
@media (max-width: 320px){
    #Main-menu-part .menu-heading h1 {
        font-size: 30px;
    }
    #Main-menu-part .nav-pills .tab-item {
        margin: 0px 0px 10px 8px;
    }
    #Main-menu-part .nav-pills .tab-item .tab-btn {
        padding: 7px 14px;
    }
}
/* ==== Responsive End ==== */